.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.App-header h1 {
  margin: 0px;
}

@media screen and (min-width: 900px) {
  .body-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
}

.last-week-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(101, 146, 170);
  color: white;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 20px;
}

.this-week-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(101, 146, 170);
  color: white;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 20px;
}

.helper-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(101, 146, 170);
  color: white;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.helper-container button {
  display: flex;
  width: 150px;
}

.helper-container h2 {
  display: flex;
  align-self: center;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-container input {
  height: 25px;
  align-self: center;
  margin-left: 5px;
}

.solutions-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(101, 146, 170);
  border-radius: 20px;
}

.possibility-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: white;
  margin: 25px;
  border-radius: 10px;
}

.possibility-container h2 {
  align-self: center;
  text-align: center;
}

ul {
  margin: 0px;
}

a:link {
  color: aquamarine;
}

a:visited {
  color: pink;
}

.spoiler:not(:hover),
.spoiler:not(:hover) * {
  color: transparent;
  background: black
}

.spoiler:not(:hover) * {
  background: transparent
}